{% include "header.html" %}

    <header class="masthead" style="background-image: url('../static/assets/img/imagen-fondo-nueva-2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Rodrigo Blog</h1>
            <span class="subheading">Blog con SQL.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', index=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author}}</a>
            on {{post.date}}
          <a href="{{ url_for('delete', id=post.id) }}" class="button delete-button">Delete</a></p>

        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ url_for("new_post_def") }}">Create New Post</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}